body {
    background-image: url(./news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.panel-heading {
    background-color: whitesmoke;
}

.navbar {
    background-color: #050c2e;
}